<center>
  <h1>Hello Rails101!</h1>
  <p/>
  <h3>Ruby Version:</h3>
  <%= @ruby_ver %>
  <p/>
  <h3>Rails Version:</h3>
  <%= @rails_ver %>
  <p/>
  <h3>Environment:</h3>
  <%= @env %>
  <p/>
  <h3>Current Time:</h3>
  <%= @current_time %>
  <p/>
</center>
